* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #ef9a53;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.navbar {
  background-color: rgb(38, 38, 38);
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  right: 0;
}

.navbar a {
  color: white;
}
#burger:focus {
  border: none;
  outline: none;
}
.greeting {
  background-color: none;
  position: absolute;
  top: 70px;
  left: 10vw;
}
.greeting h1 {
  font-size: 1.5rem;
  color: black;
}
#sub-greet {
  color: #ef9a53;
}
#ciken {
  color: #ef9a53;
}
.form-wrapper {
  border-radius: 7px;
}
.form-wrapper label {
  font-weight: bold;
}
.errors li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.errors ul {
  padding-left: 0;
  margin-bottom: 0;
}

.stock {
  width: 80vw;
  background-color: none;
  margin-top: 10vh;
  margin-left: 10vw;
}
#tittle_brg {
  margin-bottom: 20px;
  font-weight: bold;
}

#daftar {
  font-size: 1.2rem;
}
.content_brg button {
  width: 150px;
  border: none;
  outline: none;
  background-color: #ef9a53;
  margin-top: 3vh;
  margin-bottom: 2vh;
  border-radius: 5px;
  color: #ffffff;
}
.dftbrg {
  display: grid;
  grid-template-columns: auto auto;
}
.isi_brg {
  width: 30vw;
  height: auto;
  background-color: rgb(0, 0, 0, 0.1);
  margin-bottom: 3vh;
  display: grid;
  padding: 20px 0px;
  border-radius: 10px;
}
.header_brg img {
  width: 20vw;
  height: 15vw;
  margin-left: 0px;
  border-radius: 5px;
}
.content_brg {
  margin-left: 10px;
}

.input-group input,
textarea {
  border: none;
  border-bottom: 2px solid #ef9a53;
  background-color: rgb(0, 0, 0, 0);
  box-sizing: border-box;
  margin: 0px 5px;
  outline: none;
  padding: 10px;
}

.input-group input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.input-group input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  width: 200px;
  margin: 5px 0;
  position: relative;
}

.input-group input[type="button"] {
  background-color: #ef9a53;
  min-width: 20px;
  border: none;
  outline: none;
  width: auto;
  transition: all 300ms ease;
}
.idbrg input[type="text"] {
  visibility: hidden;
  position: absolute;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 30px;
  padding: 0;
  width: 30px;
  position: relative;
  border-radius: 5px;
  color: white;
}

.input-group .quantity-field {
  position: relative;
  height: 10px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
  color: #ef9a53;
  font-weight: bold;
}

.button-plus {
  left: -13px;
}

.input-group input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
@media only screen and (max-width: 600px) {
  .greeting h1 {
    font-size: 1rem;
    color: black;
  }
  .stock {
    width: 90vw;
    background-color: none;
    margin-top: 10vh;
    margin-left: 5vw;
  }
  #tittle_brg {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #daftar {
    font-size: 1.2rem;
  }

  .dftbrg {
    display: grid;
    grid-template-columns: auto;
  }
  .isi_brg {
    width: 90vw;
    height: auto;
    background-color: rgb(0, 0, 0, 0.1);
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 10px 0px;
    border-radius: 10px;
  }
  .header_brg {
    width: 25vw;
    height: 25vw;
    margin-left: 10px;
  }
  .header_brg img {
    width: 25vw;
    height: 25vw;
    border-radius: 5px;
  }
  .content_brg {
    margin-left: -70px;
  }
  .inline {
    display: grid;
    grid-template-columns: 0.5fr auto;
  }
  .content_brg p {
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .content_brg h4 {
    font-size: 12px;
    font-weight: bold;
  }
  .content_brg button {
    width: 50px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border: none;
    outline: none;
    background-color: #ef9a53;
    margin-top: -10px;
    margin-bottom: 0vh;
    border-radius: 5px;
    color: #ffffff;
  }
  .input-group button {
    width: 50px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border: none;
    outline: none;
    background-color: #ef9a53;
    margin-top: -10px;
    margin-bottom: 0vh;
    border-radius: 5px;
    color: #ffffff;
  }
  .idbrg input[type="text"] {
    visibility: hidden;
    position: absolute;
  }
  .input-group input[type="text"] {
    border: none;
    border-bottom: 2px solid #ef9a53;
    outline: none;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    transition: 1s;
    font-size: 12px;
    text-align: center;
  }
  .input-group ::placeholder {
    font-size: 10px;
  }
  .input-group input[type="text"]:focus {
    border: 2px solid #ef9a53;
    outline: none;
    width: 100px;
    height: 20px;
    border-radius: 5px;
  }
  #harga-spn,
  #jumlah {
    font-weight: bold;
  }
  .checkout {
    position: fixed;
    top: 90vh;
    left: 75vw;
    z-index: 2;
    background-color: #ef9a53;
    padding: 3px 10px;
    border-radius: 5px;
  }

  .checkout a {
    text-decoration: none;
    font-size: 12px;
    color: white;
  }
}
