* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f5f5f5;
}
/* Icon 1 */
#navbarr {
  display: none;
}
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #ef9a53;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.navbar {
  background-color: rgb(38, 38, 38);
  position: absolute;
  z-index: 3;
  width: 100vw;
}

.navbar a {
  color: white;
}
#burger:focus {
  border: none;
  outline: none;
}
.greeting {
  background-color: none;
  position: absolute;
  top: 70px;
  left: 10vw;
}
.greeting h1 {
  font-size: 1.5rem;
  color: black;
}
#sub-greet {
  color: #ef9a53;
}
#ciken {
  color: #ef9a53;
}
.form-wrapper {
  border-radius: 7px;
}
.form-wrapper label {
  font-weight: bold;
}
.errors li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.errors ul {
  padding-left: 0;
  margin-bottom: 0;
}
.con {
  width: 80vw;
  margin-left: 10vw;
  display: inline-flex;
  justify-content: space-around;
  margin-top: 150px;
}
.sub-con img {
  width: 20vw;
  height: 20vw;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.sub-con {
  background-color: rgb(0, 0, 0, 0.1);
  margin: 20px 0px;
  padding: 10px;
  border-radius: 10px;
}

.sub-con button {
  outline: None;
  border: none;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ef9a53;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .navbar {
    background-color: rgb(38, 38, 38);
    position: absolute;
    z-index: 3;
    width: 100vw;
  }

  .greeting h1 {
    font-size: 1rem;
    color: black;
  }
  .con {
    width: 80vw;
    margin-left: 10vw;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    margin-top: 150px;
  }
  .sub-con img {
    width: 75vw;
    height: 40vw;
  }
  .sub-con {
    width: 80vw;
    background-color: rgb(0, 0, 0, 0.1);
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
  }
  .sub-con h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
  .sub-con p {
    font-size: 12px;
    color: rgb(0, 0, 0, 0.8);
  }
  .sub-con button {
    outline: None;
    border: none;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: #ef9a53;
    color: white;
    cursor: pointer;
  }
  .sub-con a {
    font-size: 10px;
    font-weight: bold;
  }
}
