* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f5f5f5;
}
/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #ef9a53;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.navbar {
  background-color: rgb(38, 38, 38);
  position: absolute;
  z-index: 3;
  width: 100vw;
}

.navbar a {
  color: white;
}
#burger:focus {
  border: none;
  outline: none;
}
.greeting {
  background-color: none;
  position: absolute;
  top: 70px;
  left: 10vw;
}
.greeting h1 {
  font-size: 1.5rem;
  color: black;
}
#sub-greet {
  color: #ef9a53;
}
#ciken {
  color: #ef9a53;
}
.form-wrapper {
  border-radius: 7px;
}
.form-wrapper label {
  font-weight: bold;
}
.errors li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.errors ul {
  padding-left: 0;
  margin-bottom: 0;
}

.stock {
  width: 80vw;
  background-color: none;
  margin-top: 13vh;
  margin-left: 10vw;
}
#tittle_brg {
  margin-bottom: 20px;
  font-weight: bold;
}

#daftar {
  font-size: 2rem;
}
.barang button {
  width: 150px;
  border: none;
  outline: none;
  background-color: #ef9a53;
  margin-top: 3vh;
  margin-bottom: 2vh;
  border-radius: 5px;
  color: #ffffff;
}
.isi_brg {
  width: 100%;
  background: linear-gradient(
    161deg,
    rgb(239, 154, 83, 0.5) 0%,
    rgb(249, 212, 35, 1) 100%
  );

  margin-bottom: 3vh;
  display: inline-flex;
  padding: 20px 0px;
  border-radius: 10px;
}
.header_brg img {
  width: 20vw;
  height: 15vw;
  margin-left: 20px;
  border-radius: 5px;
}
.content_brg {
  margin-left: 10px;
}
.edit_brg {
  position: relative;
  margin-top: -25px;
  margin-left: 20px;
}
@media only screen and (max-width: 600px) {
  .greeting h1 {
    font-size: 1rem;
    color: black;
  }
  .con {
    width: 80vw;
    margin-left: 10vw;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    margin-top: 150px;
  }
  .sub-con img {
    width: 75vw;
    height: 50vw;
  }
  .sub-con {
    background-color: rgba(146, 146, 146, 0.1);
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
  }
  .isi_brg {
    width: 100%;
    background: linear-gradient(
      161deg,
      rgb(239, 154, 83, 0.5) 0%,
      rgb(249, 212, 35, 1) 100%
    );

    margin-bottom: 3vh;
    display: grid;
    padding: 20px 0px;
    border-radius: 10px;
  }
  .header_brg img {
    width: 86%;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
  }
  .edit_brg {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    margin-top: -30px;
    margin-left: 0px;
  }
  .edit_brg button {
    width: 100px;
  }
  .content_brg {
    margin-left: 10px;
    margin-top: 20px;
  }
}
