* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
.logo img {
  width: 10vw;
  height: 10vw;
}
.logo {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.container {
  margin-top: 10vh;
}
.container h3 {
  color: #ef9a53;
  font-size: 1.5rem;
  font-weight: bold;
}
#con-form {
  margin-top: 10vh;
  width: 70vw;
}
.sub-con {
  padding: 10px;
  width: auto;
  height: auto;
  font-size: 1rem;
}

.form-control {
  height: 50px;
  width: 60vw;
  padding: 0px 20px;
  font-size: 0.8rem;
}
#btn {
  margin-top: 3vh;
}
.col-12 button {
  background-color: #ef9a53;
  border: none;
  outline: none;
  width: 100px;
  margin-left: 10px;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 0px;
  border-radius: 5px;
}
.col-12 a {
  font-size: 0.8rem;
}
#reg {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  .logo img {
    width: 30vw;
    height: 30vw;
  }
}
