* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #ef9a53;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.navbar {
  background-color: rgb(38, 38, 38);
  position: absolute;
  z-index: 5;
  width: 100vw;
  top: 0;
  right: 0;
}

.navbar a {
  color: white;
}
#burger:focus {
  border: none;
  outline: none;
}
.greeting {
  background-color: none;
  position: absolute;
  top: 70px;
  left: 10vw;
}
.greeting h1 {
  font-size: 1.5rem;
  color: black;
}
#sub-greet {
  color: #ef9a53;
}
#ciken {
  color: #ef9a53;
}
.form-wrapper {
  border-radius: 7px;
}
.form-wrapper label {
  font-weight: bold;
}
.errors li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.errors ul {
  padding-left: 0;
  margin-bottom: 0;
}
.isi_brg {
}
@media only screen and (max-width: 600px) {
  .isi_brg {
    margin-bottom: 10px;
  }
  .isi_brg {
    width: 90vw;
    height: auto;
    background-color: rgb(0, 0, 0, 0.1);
    margin-top: 150px;
    margin-left: 5vw;
    padding: 20px 10px;
    border-radius: 10px;
  }
  .header {
    width: 100%;
  }
  .header img {
    margin-left: 30vw;
  }
  .header h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 2px;
  }
  .header small {
    font-size: 10px;
  }
  .header h6 {
    font-size: 15px;
    font-weight: bold;
  }
  .header,
  .content,
  .footer p {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #username {
    margin-bottom: 0px;
  }
  #batas {
    width: 80%;
    height: 2px;
    background-color: rgb(0, 0, 0, 0);
    margin-left: 10%;
    margin-bottom: 0px;
    margin-top: -10px;
  }
  #nama_barang {
    font-size: 15px;
    font-weight: bold;
  }
  .sub-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr auto;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .sub-content p {
    font-size: 12px;
  }
  #total {
    font-size: 15px;
  }
  #totall {
    font-size: 15px;
    font-weight: bold;
  }
  #status {
    color: none;
  }
  .check {
    width: 90vw;
    height: auto;
    background-color: rgb(0, 0, 0, 0.1);
    margin-left: 5vw;
    border-radius: 10px;
    padding: 10px 10px;
  }
  .method-pengantaran #antar,
  #transfer {
    border: none;
    outline: none;
    background-color: rgb(189, 88, 5);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
  }
  .method-pengantaran #ambil,
  #cash {
    border: none;
    outline: none;
    background-color: #ef9a53;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
  }
  .alamat {
    padding: 5px 0px;
    position: relative;
    visibility: visible;
  }

  .alamat form {
    display: grid;
    grid-gap: 5px;
  }
  .alamat input[type="text"],
  input[type="datetime-local"] {
    color: black;
    outline: none;
    border: 2px solid #ef9a53;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  .alamat button {
    border: none;
    outline: none;
    background-color: rgb(239, 154, 83);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-top: 5px;
  }
  .alamat-toko {
    padding: 5px 0px;
    position: absolute;
    visibility: hidden;
  }
  .alamat-toko a {
    text-decoration: none;
    color: #ef9a53;
    font-size: 15px;
  }
  .alamat-toko h6 {
    font-size: 15px;
  }
  .alamat-toko p {
    font-size: 12px;
  }
  .pesan {
    width: 90vw;
    height: auto;
    background-color: rgb(0, 0, 0, 0);
    margin-left: 5vw;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    padding: 10px 10px;
    margin: 10px 0px 50px 0px;
  }
  .pesan button {
    border: none;
    outline: none;
    background-color: rgb(239, 154, 83);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
  }
  .pembayaran {
    margin: 10px 0px;
  }
  .tranfer {
    background-color: none;
    padding: 10px 0px;
  }
  .tranfer h6 {
    font-size: 15px;
  }
  .tranfer h3 {
    font-size: 25px;
    font-weight: bold;
  }
  .tranfer p {
    font-size: 15px;
  }
  .file-input::-webkit-file-upload-button {
    visibility: hidden;
    position: absolute;
    z-index: -3;
  }
  .file-input::before {
    content: "Masukan Bukti pembayaran";
    display: inline-block;
    background: #ef9a53;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
  }
  .file-input:hover::before {
    border-color: black;
  }
  .file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  #copy {
    background-color: #ef9a53;
    border: none;
    outline: none;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
  }
  .tranfer input[type="text"] {
    color: black;
    outline: none;
    border: 2px solid #ef9a53;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
