body {
  background-color: #f5f5f5;
}
.navbar {
  background-color: rgb(38, 38, 38);
  width: 100vw;
}

.navbar a {
  color: white;
}
.greeting {
  background-color: none;
  position: absolute;
  top: 70px;
  left: 10vw;
}
.greeting h1 {
  font-size: 1.5em;
  color: black;
}
#sub-greet {
  color: #ef9a53;
}
#ciken {
  color: #ef9a53;
}
.form-wrapper {
  border-radius: 7px;
}
.form-wrapper label {
  font-weight: bold;
}
.errors li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.errors ul {
  padding-left: 0;
  margin-bottom: 0;
}

#col-content {
  background-color: #fff;
  padding: 10px 10px;
  margin: 10px 0px;
  border-radius: 5px;
}

.stock {
  width: 80vw;
  height: auto;
  background-color: none;
  margin-left: 10vw;
  margin-top: 5vh;
  border-radius: 10px;
}
#daftar {
  text-align: center;
}
.barang a {
  padding: 0px;
  background-color: none;
  border: none;
  outline: none;
}
#tambah_barang {
  outline: None;
  border: none;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ef9a53;
  color: white;
  cursor: pointer;
}
.dftbrg {
  display: grid;
}
.isi_brg {
  display: inline-flex;
  background-color: rgb(38, 38, 38, 0.1);
  margin: 20px 0px;
  padding: 10px;
  border-radius: 10px;
}
.header_brg img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
.content_brg {
  margin-left: 20px;
  margin-right: 20px;
}
.content_brg p {
  margin: 10px 0px;
}
#tittle_brg {
  margin-bottom: 20px;
}
#harga {
  color: #ef9a53;
}
.edit_brg button {
  outline: None;
  border: none;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ef9a53;
  color: white;
  cursor: pointer;
}
#cncl-btn button {
  outline: None;
  border: none;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: rgb(168, 168, 168);
  color: white;
  cursor: pointer;
}
#tambah-btn {
  outline: None;
  border: none;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ef9a53;
  color: white;
  cursor: pointer;
}
.float-div {
  margin-left: 20px;
}
#conn {
  position: absolute;
  top: 25vh;
  left: 20vw;
}
input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type="button"] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

.input-group input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
@media (max-width: 768px) {
  .form-wrapper .text-right {
    text-align: center !important;
  }

  .form-wrapper .btn-primary {
    display: block;
    margin: 0 auto;
  }
}
